<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>WhatsPad.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>4AEDF0AC1BB176FC00ABE189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEDF0C51BB176FC00ABE189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>4AEDF0D01BB176FC00ABE189</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
